#mainContent .detail-title{padding:8px 10px; border-bottom:1px solid #ddd; margin-top:20px;}
.repeatPolicy .radio-inline + .radio-inline{margin-left:0px;}
#ldapForm .detail-title:nth-child(1) {margin-top: -10px;}